---
import "../styles/hero.css";
---

<section class="hero">
  <img src="/images/hero/background.png" alt="" aria-hidden="true" />

  <div class="container">
    <div>
      <h1>
        <span>Eco Project Manager</span>
        <strong>Mobile App</strong>
      </h1>

      <p>
        Chương trình dành riêng cho những người trẻ đam mê làm chủ sản phẩm di
        động, với khát vọng kiến tạo ứng dụng triệu người dùng và chinh phục thị
        trường toàn cầu.
      </p>

      <p>Thời gian ứng tuyển: 12/12/2025 - 31/12/2025</p>

      <a href="#apply">Sẵn sàng thử thách</a>
    </div>

    <div class="hero-image-wrapper">
      <img src="/images/hero/image.png" alt="Eco Project Manager Team" />

      <div class="sparkle" aria-hidden="true">
        <svg
          width="40"
          height="67"
          viewBox="0 0 40 67"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            opacity="0.5"
            d="M40 33.5C22.3467 35.6706 21.2957 37.4297 19.9987 67C18.7017 37.4297 17.6533 35.6706 0 33.5C17.6533 31.3294 18.7043 29.5703 19.9987 0C21.2957 29.5703 22.3441 31.3294 40 33.5Z"
            fill="#2A6CE0"></path>
        </svg>
      </div>
    </div>
  </div>
</section>
